/* Mantineと競合するのでコメントアウトする */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: scale-down;
}
